.buyer{
    background-color: rgb(84, 82, 82);
    color:white;
    margin: auto;
    margin-top: 50px;
    width: 90%;
}
.product{
    display: flex;
    margin: auto;
    padding: 10px;
    padding-left: 5rem;
    margin-bottom: 10px;
    justify-content: space-between;
}
.product span{
    margin-bottom: 10px;
}
.productDivider {
    border: 0;
    border-top: 1px solid #ccc; /* Example border style */
    margin: 10px 0; /* Adjust margin as needed */
}
Button{
    cursor: pointer;
}